$color-primary: #fc8c5c;
$color-primary-hover: #f2956d;
$color-light: #f7f7f7;
$color-dark: #292929;
$color-dark-hover: #353535;
$color-white: #fff;
$color-inactive: #999;
$color-line: #ccc;
$font-body: "Outfit", sans-serif;
$font-title: "Tenor Sans", sans-serif;