@import "variables", "style";

.breadcrumbs {
  font-family: $font-title;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  a {
    &.active {
    color: $color-primary;
  }}
}

.filters {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  padding: 1.5rem 0;
  input[type="search"],
  select {
    width: fit-content;
    padding: 0.75rem;
    border: 1px solid $color-line;
    border-radius: 0.5rem;
    background-color: #fff;
  }

  .sorting {
    span {
      margin-left: 1rem;
    }
  }
}
.product-catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-light;
    border-radius: 0.75rem;
    overflow: hidden;

    &__image {
      transform: scale(1);
      width: 100%;
      height: 50%;
      margin-bottom: 1rem;
      object-fit: cover;
      transition: 0.3s;
    }

    &__image:hover {
      transform: scale(1.1);
    }

    &__category {
      text-align: left;
      font-family: $font-title;
      color: $color-inactive;
      font-size: 0.9rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    &__title {
      text-align: left;
      font-family: $font-body;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0.5rem 0;
    }

    &__description {
      text-align: left;
      font-size: 1rem;
      font-weight: 200;
    }

    &__price {
      text-align: left;
      font-size: 1.5rem;
      margin: 0.5rem 0;

      .discounted-price {
        color: $color-primary;
      }

      .original-price {
        color: $color-line;
        text-decoration: line-through;
      }
    }

    &__button {
      width: 100%;
      font-family: $font-title;
      background-color: $color-dark;
      color: #fff;
      padding: 1rem;
      margin-top: 0.5rem;
      text-decoration: none;
      border: none;
      border-radius: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        background-color: $color-dark-hover;
      }
    }
  }
}
